<div class="smallwindow">
  <div class="foot-nav-contaier">
    <img src="assets/fb-logo.jpg" alt="FB" align="middle">
    <img src="assets/tw-logo.jpg" alt="Tw" align="middle">
    <img src="assets/li-logo.jpg" alt="LI" align="middle">
    <img src="assets/gplus-logo.jpg" alt="g+" align="middle">
  </div>

  <div id="copyright-div">
    <p>
      Copyright © DriverCheck Inc. All rights reserved.
      "DriverCheck" is a registered trademark of DriverCheck Inc.
    </p>
  </div>  
</div>


<!-- width="200" height="70" align="right" -->
