<div class="bigwindow">
  <img src="assets/topbig2.png" alt="Woops">
  <img src="assets/bottombig.png" alt="Woops">
</div>

<div class="smallwindow">
  <div class="darker-top">
    <h3>
      Fitness for Duty Experts
    </h3>
    <p>
      We help keep your employees, your company, and the public healthy and safe through stringent, scientifically proven drug and alcohol testing, occupational health programs and sleep apnea and fatigue management services. We are a one-stop solution for all your medical testing and assessment needs.
    </p>
    <p class="redner">
      Help keep everyone healthy and safe, call us today at 1-800-463-4310.
    </p>
  </div>

  <div class="lighter-div">
    <img src="assets/left1.png" alt="Woops">
    <img src="assets/right1.png" alt="Woops">
  </div>

</div>



<!-- <img src="assets/full.png" alt="Woops">  -->
