<!-- <app-navbar></app-navbar> -->



<div class="div-wrapper">
  <h1 class="titler">Our Vision</h1>
  <p>

    To be the Canadian leader in providing our clients with a healthy and safe work environment.
  </p>
  <h2>Our Mission</h2>

  <p>

    To create a competitive advantage for our clients by providing them with a healthy and safe working environment. By helping to avoid occupational accidents, injuries, and illnesses, and by managing the complexities of your testing and assessment programs, we enable our clients to focus on their core business – putting them one step ahead.
  </p>

    <h2>Our Philosophy</h2>

  <p>

    DriverCheck does not believe in a ‘one-size fits all’ approach. We recognize that each client has its own challenges in maintaining health and safety in the workplace, which is why we take the time to perform an individual needs assessment for each client. This assessment is supported by a wealth of knowledge and experience from our in-house physicians.
  </p>

    <h2>Our Offer</h2>

  <p>

    Bilingual and Canadian owned, DriverCheck provides its clients with a competitive advantage by helping to create a healthy and safe work environment. Such an environment will not only benefit you the employer, but the employees and the general public as well. As medical professionals, DriverCheck provides medical testing and assessment services throughout the employee life cycle, whether it is in the pre-employment process, during employment or after an event such as an incident or an injury.
    <br>
    <br>
    Our goal is to consolidate all of the employee fitness to work and health assessment services that employers require to maintain a healthy and safe working environment. By doing so, we help our clients reduce costs as well as meet provincial, national and international Occupational Health and Safety  regulations. By providing you with a one-stop shop for your medical testing and assessment services, DriverCheck is able to put your company one step ahead.
  </p>
</div>
